<section class="home" id="home">
    <div class="home-content">
        <h1>Online <span>Test</span></h1>
        <div class="text-animate">
            <h3>Management Tool</h3>
        </div>
        <p>Welcome to My Test.....</p>
        <img src="assets/test-prep-exam-preparation-vector-260nw-1746079694.jpg" width="400px" height="200px">
    </div>
</section>
<div class="bb">
    <button class="btn" routerLink='/register'>Register Now</button>
</div>

<div class="mt-1 footer">

    <footer class="text-center text-white" style="background-color: hsl(0, 0%, 95%);">
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright © 2023 Capgemini All rights reserved. 
        </div>
        <!-- Copyright -->
    </footer>
  
  
  </div>
