<!-- <p>
    Online test management application basically used to conduct the online test for users for testing the knoweldge.
    along with this application is very help full for those are trying to get good opportunity in the respective
    industry.
</p> -->

<h1 mat-dialog-title>About Us</h1>
<div mat-dialog-content>Online test management application basically used to conduct the online test for users for testing the knoweldge.
    along with this application is very help full for those are trying to get good opportunity in the respective
    industry.</div>
<div mat-dialog-actions>
  <button mat-button color="primary" mat-dialog-close>Close</button>
</div>