<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 box-sh">
            <div class="row justify-content-center">
                <div class="col text-end border  rounded-0">
                    <h2>Update Question Id : {{qId}}</h2>

                    <form>
                        <div class="form-group row">
                            <div  class="col-sm-10">
                                <div>

                                    <textarea [value]="name" (input)="onValueChange($event)"
                                        placeholder="Write here question"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">

                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Option 1</label>
                                <input type="text" class="form-control" name="questionOption1s" [(ngModel)]="questionOption1" required>
                            </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Option 2</label>
                                <input type="text" class="form-control" name="questionOption2" [(ngModel)]="questionOption2" required>
                            </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Option 3</label>
                                <input type="text" class="form-control" name="questionOption3" [(ngModel)]="questionOption3" required>
                            </div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Option 4</label>
                                <input type="text" class="form-control" name="questionOption4" [(ngModel)]="questionOption4" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="col-sm-5 col-form-label">Answer :</label>
                                <input type="number" class="form-control" name="question.questionAnswer" placeholder="Answer"
                                [(ngModel)]="question.questionAnswer"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="col-sm-5 col-form-label">Choose Answer </label>
                                <input type="number" class="form-control" name="question.chosenAnswer" placeholder="Answer"
                                [(ngModel)]="question.chosenAnswer"  required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Marks</label>
                                <input type="number" class="form-control" name="question.questionMarks"
                                    placeholder="Total Question Marks" [(ngModel)]="question.questionMarks"  required>
                            </div>
                        </div>
                        <div class="form-group row1">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-info" (click)="updateQuestion()">Update
                                    Question</button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info" routerLink="/listofquestion">List Of
                                    Questions</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>