<div class="row justify-content-center mt-5 mb-3">
    <div class="col-9 box-sh">
        <div class="row justify-content-end">
            
            <div class="col text-center border  rounded-0">
                <h2>List Of Questions</h2>
                

                <table class="table mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Question ID</th>
                            <th scope="col">Question</th>
                            <th scope="col">Marks</th>
                            <th scope="col"> Answer </th>
                            <th scope="col"> Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of listOfQuestion" #ival>
                            <td>{{list.questionId}}</td>
                            <td>{{list.quesionTitle}}</td>
                            <td>{{list.questionMarks}}</td>

                            <td>{{list.questionAnswer}}</td>
                        <td> <button class="btn ml-2" (click)="updateTest(list.questionId)" routerLink="/updateq">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
